:root {
	--additional-blue: #1c7ef1;
	--additional-paleGreen: #ddf8df;
	--additional-green: #51b77a;
	--additional-palePurple: #eee5ff;
	--additional-purple: #8a60e4;
	--additional-palePink: #f7deec;
	--additional-pink: #c3799d;
	--additional-paleOrange: #fbe6dd;
	--additional-orange: #f4765a;
	--additional-paleBlue: #ceeaff;
	--common-asphalt: #91a0ae;
	--common-smog: #e5ebf0;
	--common-dullSky: #b6c7d6;
	--common-black: #2b3238;
	--common-darkWater: #5d7285;
	--common-fog: #f1f5f9;
	--common-rain: #d0dbe4;
	--common-white: white;
	--deviders-primary: #e0e0e0;
	--ui-white: white;
}
